<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Sentiment Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {%if status=="No"%}
            <h3>Enter Youtube Video Link</h3>
        {% endif %}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/"><h3><center>Sentiment Analyzer</center></h3></a>
            </li>
        </ul>
        </nav>
        <div class="content">
            <br><br><br><br>
             <div class="form">
                <form action="/home" method="POST">
                    <label><b>Enter Youtube Video Link</b></label> <input type="text" name="content" id="content" size="100" ><br><br>
                    <input type="submit" value="Search & Analyze" style="position: absolute;top: 40%;left:50%">
                </form>
             </div>
        </div>
    </div>
</body>
</html>